attrs==26.1.0
cattrs==26.1.0
certifi==2026.4.22
charset-normalizer==3.4.7
et_xmlfile==2.0.0
filelock==3.29.0
greenlet==3.5.0
idna==3.13
inflate64==1.0.4
joblib==1.5.3
numpy==2.4.4
oda-reader==1.6.0
openpyxl==3.1.5
pandas==3.0.2
platformdirs==4.9.6
psycopg2-binary==2.9.12
pyarrow==24.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.33.1
requests-cache==1.3.1
six==1.17.0
SQLAlchemy==2.0.49
typing_extensions==4.15.0
tzdata==2026.2
url-normalize==3.0.0
urllib3==2.6.3
